openapi: 3.2.0
info:
  title: NFT Market Nft V2 API
  description: Backend service for NFT market data.
  version: 1.0.12
servers:
- url: https://api.blockchain.info/nft-market-api
tags:
- name: nft_v2
paths:
  /public/nft/v2/asset/{network}/{contract_address}/{token_id}:
    get:
      summary: Get an NFT asset.
      description: Used to fetch the details of an individual asset.
      tags:
      - nft_v2
      parameters:
      - description: The contract address of the asset.
        required: true
        in: path
        name: contract_address
        schema:
          type: string
      - description: The blockchain network used.
        required: true
        in: path
        name: network
        schema:
          type: string
      - description: The token ID of the asset.
        required: true
        in: path
        name: token_id
        schema:
          type: string
      responses:
        '200':
          description: Default Response
  /public/nft/v2/account_assets/{owner_address}:
    get:
      summary: Get NFT assets owned by an address.
      description: Used to fetch assets owned by a particular address.
      tags:
      - nft_v2
      parameters:
      - description: For pagination
        required: false
        in: query
        name: cursor
        schema:
          type: string
      - description: The blockchain network symbol (eg ETH). Comma-separated for multiple. Omission defaults to all networks.
        required: false
        in: query
        name: network
        schema:
          type: string
      - description: The data provider to query.
        required: false
        in: query
        name: provider
        schema:
          type: string
          enum:
          - moralis
          - opensea
      - description: The address to get assets from
        required: true
        in: path
        name: owner_address
        schema:
          type: string
      responses:
        '200':
          description: Default Response
